*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.blue-grey-text{
  color: #364d5fff;
}
.green-text{
  color: hsl(171, 100%, 41%);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
@font-face{
  src: url("./Tangerine-Regular.ttf");
  font-family: tangerine;
}
.tangerine{
  font-family: tangerine;
}
.hide{
  display: none;
}
header{
  display: flex;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 50px;
  max-height: 50px;
  box-shadow: 0 6px 5px #CCCC;
  align-items: center;
}