<!DOCTYPE html>
<html>
	{%load static%}
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height">
    <title>Enter Password</title>
    <link rel="stylesheet" href="{% static 'iconfont/material-icons.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/password.css' %}" type="text/css" media="all"/>
	</head>
	<body>
		<header>
			<h4 class='tangerine'>Enter Password for Title: {{title_short}}...</h4>
		</header>
		
		<main>
			<p class='hide pass-error tangerine' style='font-size:20px'><b>Incorrect Password!</b></p>
			<div class='pass-field'>
			<!--<form class='pass-field' action="/notes/{{num}}/validate" method='POST'-->
				<input class='input is-small is-primary' type='password' data-id='{{num}}'>
				<button class='button is-small is-primary' id='submit'>Go</button>
			<!--/form>-->
			</div>
		</main>
		<script type="text/javascript" src="{%static 'js/cookie.js' %}"></script>
		<script type="text/javascript" src="{%static 'js/password.js' %}"></script>
	</body>
</html>